.popup__title {
  max-width: 358px;
  width: 100%;
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 33px;
  margin-bottom: 50px;
}

@media screen and (max-width: 585px) {
  .popup__title {
    max-width: 238px;
    font-size: 18px;
    line-height: 22px;
    margin-top: 25px;
    margin-bottom: 75px;
  }
}
