.photo__like {
  max-width: 22px;
  width: 100%;
  height: 19px;
  cursor: pointer;
  background-image: url(../../../images/like.svg);
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  background-size: 22px 19px;
  background-position: center;
  background-repeat: no-repeat;
}

.photo__like:hover {
  opacity: 0.5;
}
