.burger-menu__line_active:nth-child(1) {
    transform: rotate(45deg);
    top: 1px;
}

.burger-menu__line_active:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.burger-menu__line_active:nth-child(3) {
    transform: rotate(-45deg);
    top: 18px;
}